<div id="footer">
		<div class="row">
			<div id="centerFooter">
				<div id="youtubeSection" class="col-md-2 col-md-offset-4">
					<img src="recensigames/resources/img/glyphicons-social-23-youtube.png"></img>
					<a id="youtubeLink" href="https://www.youtube.com/?hl=it&gl=IT" target="_blank">Canale Youtube</a>
				</div>
				<div id="facebookSection" class="col-md-2">
					<img src="recensigames/resources/img/glyphicons-social-31-facebook.png">
					<a id="facebookLink" href="https://www.facebook.com/Recensigames/" target="_blank">Pagina Facebook</a>
				</div>
			</div>
		</div>
		<div id="lowFooter">
			<div class="row">
				<a class="col-md-2 col-md-offset-2" id="lowFootLink">&copy;2017 Copyright Reserved</a>
				<a href="${pageContext.servletContext.contextPath}/usageTerms" class="col-md-2" id="lowFootLink">Termini di utilizzo</a>
				<a href="${pageContext.servletContext.contextPath}/privacyPolicy" class="col-md-2" id="lowFootLink">Politica sulla privacy</a>
				<a href="${pageContext.servletContext.contextPath}/contactUs" class="col-md-2" id="lowFootLink">Info / Contatti</a>
			</div>
		</div>
	</div>